*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body{
    background: white;
    color: #262626;
    
}
#header{
    width: 100%;
    background-color: white;
    align-content: center;
}

 /* ----------------Navigation Bar---------------
.nav-bar{
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding-left: 30px;
    padding-right: 30px;
}
nav ul{
    display: block;
    float: right;
    padding: 10px 0;
}
.logo{
     width: 140px;
}
nav ul li{
     display: inline-block;
     list-style: none;
     margin: 10px 20px;
}
 nav ul li a{
     color: #ff0051;
     text-decoration: none;
     font-size: 18px;
     position: relative;
 }
 nav ul li a::after{
     content: '';
     width: 0;
     height: 3px;
     background: blue;
     position: absolute;
     left: 0;
     bottom: -6px;
     transition: 0.3s;
 }
 nav ul li a:hover::after{
     width:100%
 }
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

.nav-bar{
    position: fixed;
    width: 100%;
    z-index: 10;
}

[type="checkbox"]:checked, 
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}

.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: black;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}



.logo {
	position: absolute;
	top: 20px;
	left: 30px;
	display: block;
	z-index: 11;
	transition: all 0.5s linear;
    width: 180px;
    border-radius: 40px;
    box-shadow: 0 10px 50px 0 rgba(0,0,0,0.3);
    background-color: #262626;
    animation: border-transform 7s linear infinite;
    transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 300%;
    position: relative;
}
.nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(21, 21, 185);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
.nav ul li a:hover::after{
    width:100%
}


 /* ----------------About---------------*/
 #about{
     padding: 50px;
     padding-bottom: 100px;
 }  
 .about-header{
    font-size: 90%;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
 }
 .about-header h1{
     font-size: 60px;
 }
 .about-header h1 span{
     color: maroon;
 }
 .about-content{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
 }
 .about-content img{
    width: 30vmax;
    border-radius: 40px;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
    margin: 20px;
 }

 .about-info{
     box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
     padding: 30px;
     border-radius: 40px;
     background-color: #262626;
     color: #fff;
     width: 50vmax;
 }
 .about-info-title{
     padding-bottom: 20px;
 }
 .sub-title{
     font-size: 300%;
     font-weight: 600;
 }
 .tab-titles{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
     gap: 10px;
 }
 .tab-links{
     font-size: 30px;
     font-weight: 500;
     cursor: pointer;
     position: relative;
     transition: 0.5s;
     border-radius: 40px;
 }
 .tab-links:hover{
     color: maroon;
     transform: translateY(-5px);
}
 .tab-links::after{
     content:"";
     width: 0;
     height: 3px;
     background: maroon;
     position: absolute;
     left: 0;
     bottom: -8px;
     transition: 0.5s;
 }
 .tab-links.active-link::after{
     width: 50%;
 }
 .tab-contents ul li{
     list-style: none;
     margin: 40px 0;
 }
 .tab-contents ul li span{
     color: whitesmoke;
     font-size: 20px;
 }
 .tab-contents{
     display: none;
     color: #fff;
 }
 .tab-contents.active-tab{
     display: block;
 }

 /* -----------------Services------------- */

 #services{
     padding: 50px;
     background-color: #262626;
     color: #fff;
     padding-top: 50px;
     padding-bottom:150PX;
 }
 .services-list{
     display: grid; 
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     grid-gap: 40px;
     margin-top: 100px;
 }
 .services-list div{
     background: #fff;
     padding: 40px;
     font-size: 13px;
     font-weight: 300;
     border-radius: 40px;
     transition: 0.5s;
     color: #262626;
     box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);

 }
 .services-list div i{
     font-size: 50px;
     margin-bottom: 30px;
 }
 .services-list div h2{
     font-size: 30px;
     font-weight: 500;
     margin-bottom: 15px;
 }
 .services-list div a{
     text-decoration: none;
     color: #fff;
     font-size: 12px;
     margin-top: 20px;
     display: inline-block;
 }
 .services-list div:hover{
     background-color: maroon;
     transform: translateY(-10px);
 }

 /* -------------Portfolio------------ */
#portfolio{
    padding: 50px;
}
.work-list{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
}
.work img{
    width: 100%;
    display: block;
    transition: 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), maroon);
    border-radius: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: maroon;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 3px solid #262626;
    padding: 14px 50px;
    border-radius: 40px;
    text-decoration: none;
    color: #262626;
    transition: 0.5s;
    font-size: 20px;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
}
.btn:hover{
    transform: translateY(-5px);
    background-color: #262626;
    color: #fff;
}

 /* -------------Content------------ */
#contact{
    background-color: #262626;
    color: #fff;
    padding: 50px;
}
.row{
    padding: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: rgb(85, 66, 5);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: 0.5s;
}
.social-icons a:hover{
    transform: translateY(-5px);
    transform: scale(1.5);
    background-color: #262626;
}
.btn.btn2{
    display: inline-block;
    background-color: #fff;
}
.btn.btn2:hover{
    background-color: #262626;
    border-color: #fff;
}
contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: lightgray;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 40px;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);

}
form .btn2{
    padding: 14px 110px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

/* -------------------------Css for small screens -------------- 
@media only screen and (max-width: 600px) {
    #header{
        
    }
    .about-header{
        margin-top: 100%;
        font-size: 16px;
    }
}

*/



  

#about {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: scroll-slower 0.5s ease-out forwards;
  }
  
  @keyframes scroll-slower {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(10%);
    }
  }