@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    background: white;
}

#header {
    
    background-color: white;
    align-content: center;
}

@media (min-width: 479px) {
.shiny::after {
    content: "";
    position: absolute;
    top: calc(var(--y, 0) * 1px - 250px);
    left: calc(var(--x, 0) * 1px - 250px);
    width: 500px;
    height: 500px;
    background: radial-gradient(rgba(255, 255, 255, 0.219), #3984ff00 60%);
    opacity: 0;
    z-index: 1000;
    pointer-events: none; 
}


.shiny:hover::after {
    opacity: 0.4;
}
}
@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in {
    animation: fade-in 0.5s ease-in;
  }
  